header{
        background-image: url(assets/fondo-2.jpeg);
        padding: 110px;
        background-repeat: no-repeat;
        background-position: center ;
        background-size: cover;
        background-attachment: fixed ;
        color:beige
}

h1{
    color:rgb(255, 255, 255);
    text-align: center;
}

#habilidades{
    text-align: justify;
}

.proyecto {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#proyecto-uno{
    background-image: url(assets/proyecto-uno.png);
    color: rgb(62, 62, 171);
}

#proyecto-dos{
    background-image: url(assets/proyect-dos.png);
    color: rgb(201, 93, 93);
}
